.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.home-main-section .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.home-main-section .lady-image {
  background-image: url(./img/landing-page-girl.png);
  flex-grow: 1;
  max-height: 70vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.home-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}

.btn {
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #2180d8;
}

.btn:focus {
  background-color: #2796ff;
}

@media (max-width: 900px) {
  .home-main-section .img-wrapper,
  .circle3 {
    display: none;
  }

  .home-main-section {
    justify-content: center;
  }
  .btn {
    justify-content: center;
    align-content: center;
    padding-bottom: 5vw;
  }
  .btn-join {
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .discover a {
    display: flex;
    padding-right: 9vw;
  }
}

.home-page-circle-1 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background: rgba(188, 58, 128, 0.17);
  bottom: 5.1vw;
  left: 5vw;

  z-index: -1;
}

.home-page-circle-2 {
  position: absolute;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background: rgba(30, 131, 224, 0.1);
  top: 15vh;
  left: 35vw;
  z-index: -1;
}

.home-page-circle-3 {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

.home-page-circle-3::before img {
  content: "";
  position: absolute;
  bottom: 90vh;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 5px;
    background: linear-gradient(to right, #2f303a, #bc3a80);
    margin: 5px;
  }
  nav {
    position: relative;
    left: -36%;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(350%, -60%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: #2f303a;
    height: 20vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 0.6s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(10px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    display: flex;
    transform: translateY(30%);
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
  nav a:hover {
    color: #7d67a7;
  }
}
